html, body { 
  overflow: hidden; 
}

html, body, .flowplayer, .dlts_clip, .dlts_playlist { 
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;  
}

video { 
  absolute:0;
  top:0;
  left:0;
  width:100%;
  background-position: center; 
}

.dlts_playlist:hover {
  cursor: pointer;
}

.dlts_clip:hover {
  cursor: pointer;
}
